{% extends '@layout/default.html.twig' %}

{% block title %}
    Cadastro de Campanha - {{ parent() }}
{% endblock %}

{% block page_header %}
    Cadastro de Campanha
{% endblock %}

{% block content %}
    
    {% set nome = form.get('nome') %}
    {% do nome.setAttribute('class','form-control') %}

    {% set template = form.get('template') %}
    {% do template.setAttribute('class','form-control') %}
    
    {% set assunto = form.get('assunto') %}
    {% do assunto.setAttribute('class','form-control') %}
    
    {% set tags = form.get('tags') %}
    {% do tags.setAttribute('class','form-control') %}
    
    {% do form.prepare() %}
    
    <div class="row" >
        <div class="col-md-8">
            <div class="box box-primary" >
                <div class="box-body" >
                    
                    {{ form().openTag(form) | raw }}
                    {% include '@app/campanha/_form.html.twig' %}
                    
                    <div class="box-footer" >
                        <button value="" class="btn btn-primary" id="submit" type="submit">
                            <i class="fa fa-save" ></i>
                            Incluir
                        </button>
                    </div>
                    {{ form().closeTag() | raw }}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
tinymce.init({
            selector: 'textarea',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'bold italic | fontselect |  fontsizeselect | print preview media | forecolor backcolor emoticons',
            toolbar2: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            height: 500
        });
</script>
{% endblock %}