{% extends '@layout/default.html.twig' %}

{% block title %}
    Cadastro de Campanha - {{ parent() }}
{% endblock %}

{% block page_header %}
    Cadastro de Campanha
{% endblock %}

{% block content %}
    
    {% set nome = form.get('nome') %}
    {% do nome.setAttribute('class','form-control') %}

    {% set assunto = form.get('assunto') %}
    {% do assunto.setAttribute('class','form-control') %}
    
    {% set template = form.get('template') %}
    {% do template.setAttribute('class','form-control') %}
    
    {% set tags = form.get('tags') %}
    {% do tags.setAttribute('class','form-control') %}
    
    {% do form.prepare() %}
    
    <div class="row" >
        <div class="col-md-8">
            <div class="box box-primary" >
                <div class="box-body" >
                    
                    {{ form().openTag(form) | raw }}
                    <fieldset disabled >
                    {% include '@app/campanha/_form.html.twig' %}
                    </fieldset>
                    {{ form().closeTag() | raw }}
                    
                    <form name="form" role="form" method="post" 
                          action="{{ url('campanha.sender', {id: form.getObject().id}) }}" >
                        <div class="box-footer" >
                            <button class="btn btn-primary" type="submit" >
                                <i class="glyphicon glyphicon-remove" ></i>
                                Enviar
                            </button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
tinymce.init({
        selector: 'textarea',
        readonly: 1,    
        height: 300
        });
</script>
{% endblock %}