{% extends '@layout/default.html.twig' %}

{% block title %}
    Cadastro de Tag - {{ parent() }}
{% endblock %}

{% block page_header %}
    Cadastro de Tag
{% endblock %}

{% block content %}
    
    {% set nome = form.get('nome') %}
    {% do nome.setAttribute('class','form-control') %}

    {% do form.prepare() %}
    
    <div class="row" >
        <div class="col-md-8">
            <div class="box box-primary" >
                <div class="box-body" >
                    
                    {{ form().openTag(form) | raw }}
                    {% include '@app/tag/_form.html.twig' %}
                    
                    <div class="box-footer" >
                        <button value="" class="btn btn-primary" id="submit" type="submit">
                            <i class="fa fa-save" ></i>
                            Incluir
                        </button>
                    </div>
                    {{ form().closeTag() | raw }}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}